<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./bootstrap-4.4.1-dist/css/bootstrap.min.css">
    </head>
    <body>
        <table style="width:100%; border: 1px black solid;">
            <tr>
                <td style="width:50%; text-align: left">Keir Bowden</td>
                <td style="width:50%; text-align: right">Bob Buzzard</td>
            </tr>
        </table>
        <img src="./images/Mentz.png" width="200px" height="200px">
        <h1>Contact</h1>
        <table class="table table-striped">
            <tr>
                <th><b>Title</b></th>
                <th><b>First Name</b></th> 
                <th><b>Last Name</b></th> 
                <th><b>Company</b></th> 
            </tr>
            <tr>
                <td><%= contact.Title %></td>
                <td><%= contact.FirstName %></td>
                <td><%= contact.LastName %></td> 
                <td>
                    <% if (contact.Account) { %>
                    <%= contact.Account.Name %>
                    <% } else { %>
                    <% if ( typeof account!='undefined' ) { %>
                    <%= account.Name %>
                    <% } else { %>
                    <%= 'N/A' %>
                    <% } %>
                    <% } %>
                </td> 
            </tr>
        </table>
    </body>
</html>